.success-container {
  text-align: center;
  padding: 2rem;
}

.success-image {
  width: 10rem;
  height: auto;
  transform: scale(0);
  animation: stamp-effect 0.5s ease forwards;
}

@keyframes stamp-effect {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.check-successfull {
  opacity: 0;
  color: var(--primary);
  font-size: 3rem;
  font-weight: 600;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
