.page {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
.error {
  padding-left: 10px;
  font-size: 1.5rem;
  color: var(--red);
  transition: 0.5s;
}
.message {
  padding-left: 10px;
  font-size: 1.5rem;
  color: var(--green);
  transition: 0.5s;
}
.btn {
  outline: none;
  border: none;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: var(--primary);
  color: var(--white);
}
.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primary-shade);
}
.center-div {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
