.shop-catogories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.shop-by {
  margin-bottom: 5rem;
}
@media (max-width: 435px) {
  .shop-catogories {
    justify-content: center;
    gap: 2rem;
  }
}
